# Ignore common code files
*.a
*.so
*.d
*.o
*.debug
gmon.out
*_d

# Ignore common LaTeX files
*.pdf
*.log
*.aux
*.bbl
*.blg
*.bak
*.swp
*.toc
*.lof
*.nav
*.snm
*.out
*~

# Miscellaneous
.svn

# Put your stuff here
orpfs
