config.guess
config.sub
libtool
ltmain.sh
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/config.h.in
/configure
/aclocal.m4
Makefile.in
ar-lib
compile
depcomp
install-sh
missing
.dirstamp
*.o
*.a
.deps
src/mselOS
src/mselOS.map
*.swp
*.log
*.trs
*.lo
*.la
src/.libs
